[Desktop Entry]
Type=Application
Name=OpenVCS
Comment=A plugin-based desktop version control client
Exec=openvcs
Icon=app.openvcs.OpenVCS
Terminal=false
Categories=Development;RevisionControl;
Keywords=git;vcs;version control;
